body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.menu {
  padding: 12px;
  margin-top: 10px;
  background: #1e293b;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}